<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Component Vue</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <div id="app-1">
      <global-component></global-component>
    </div>

    <br>

    <div id="app-2">
      <local-component></local-component>
      <br>
      <even-counter></even-counter>
      <even-counter></even-counter>
    </div>

    <br>
    <hr>
    <h4>
      Illustrating Props
    </h4>
    <div id="app-3">
      <input v-model="furColor"/>
      <input v-model="numTeeth"/>
      <cub
        v-bind:fur-color="furColor"
        :num-teeth="numTeeth">
      </cub>
    </div>

    <br>
    <h4>Props with Requirements</h4>
    <div id="app-4">
      <!-- The commented out strict-cub below incurs warning with no fur-color specified -->
      <!-- Missing required props: "furColor" (found in <StrictCub>) -->
      <!-- <strict-cub></strict-cub> -->
      <!-- Below proves valid -->
      <strict-cub fur-color="black"></strict-cub>
    </div>

    <br>
    <hr>
    <h4>Events and emit</h4>
    <div id="app-5">
      <p>{{globalArr}}</p>
      <local-arr v-on:grow="growTotal"></local-arr>
      <br>
      <local-arr v-on:grow="growTotal"></local-arr>
      <br>
      <br>
      <p>All input automatically goes lowercase!</p>
      <lower-input></lower-input>
      <br>
      <upper-input text="START"></upper-input>

      <br>
      <br>
      <grow-button></grow-button>
      <grow-button></grow-button>
      <text-field size="20"></text-field>
    </div>



    <script src="./index.js"></script>
  </body>
</html>
