#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.event-card {
  border: 2px solid #2c3e50;
  margin-top: 10px;
  border-radius: 4px;
}

.signout-btn {
  position: absolute;
  text-align: right;
  top: 60px;
  right: 40px;
}

.form {
  padding-right: 10%;
  padding-left: 10%;
}
