<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <div id="app-1">
      <button v-on:click="toggleReveal">Toggle Reveal</button>
      <transition name="fade">
        <p v-if="reveal">{{message}}</p>
      </transition>

      <br>
      <br>
      <hr>
      <h4>toggling between views</h4>
      <button v-on:click="toggleView">Toggle View</button>
      <transition name="component-fade">
        <component v-bind:is="view"></component>
      </transition>

      <br>
      <br>
    </div>
    <hr>
    <div id="list-demo">
      <p>List transitions</p>
      <!-- Display the adding and removing of items in a list -->
      <button v-on:click="add">Add random number</button>
      <button v-on:click="remove">Remove last</button>
      <br>
      <transition-group name="list-complete">
        <span
          v-for="(num, index) in numbers"
          v-bind:key="index"
          class="list-complete-item"
        >
          {{num}}
        </span>
      </transition-grou>
      <!-- TODO LIST TRANSITIONS https://vuejs.org/v2/guide/transitions.html -->
    </div>
    <br>
    <hr>
    <h4>Simple vs. Render template</h4>
    <div id="render-demo">
      <simple-template :level="2"><a>Simple template link</a></simple-template>
      <br>
      <render-template :level="6"><a>Render template link</a></render-template>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
